<div class="board">

  <% x = 10 %>

  <table>
    <% while x > 0%>
      <td>
        <% y = rand(2) %>
        <% if y > 0 %>
          <div class="enemy" id="<%= x %>"></div>
        <% end %>
      </td>
      <% x -= 1 %>
    <% end %>
  </table>


  <div class="spaceship">
    <center></center>
  </div>
</div>
