html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.board {
  height: 95vh;
  padding: 10px;
  border: 1px solid red;
}

.enemy {
  height: 80px;
  width: 80px;
  // border: 1px solid blue;
  display: inline-block;
  background-image: image-url('meteorBrown_big3.png');
}

.spaceship {
  position: fixed;
  height: 75px;
  width: 99px;
  // background-color: red;
  bottom: 40px;
  background-image: image-url('playerShip1_red.png');
  background-repeat: no-repeat;
}

.bullet {
  height: 20px;
  width: 5px;
  background-image: image-url('laserRed03.png');
}

td {
  width: 80px;
  height: 80px;
}